@import "tailwindcss";

:root {
  --font-sans: 'Noto Sans TC', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-family: 'Noto Sans TC', sans-serif;
  overflow: hidden;
}

#yt-player,
#yt-player iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
}
